{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "About Trailway" %}{% endblock title %}
{% block content %}
<h3>What is Trailway all about then?</h3>
<p>
  It's mainly about Dan — that's me 👋 — learning how to build a maintanble Django
  project, from scratch that has as few moving parts as possible. What it
  actually does as software isn't that import to me just yet. There's a few
  things I want to explore and try to understand fully:
</p>
<ul>
  <li>Developing locally on OS X</li>
  <li>Payment plans via something like Stripe</li>
  <li>Self-service user sign-ups</li>
</ul>
<p>
  Later on I also want to look at:
</p>
<ul>
  <li>Document editing with Trix</li>
  <li>More minimal CSS frameworks than Bootstrap</li>
</ul>
<p>
  <em>
    P.S. the name "Trailway" was picked at random from a bus stop in a movie I
    was watching.
  </em>
</p>
{% endblock content %}
